# Node modules
/node_modules
/env.js

# Environment variables
.env

# Sequelize config file with credentials
/config/config.json

# Logs
npm-debug.log
yarn-error.log

# OS filestus
.DS_Store
Thumbs.db

# Build folders (if any)
/dist
/build
